body {
   background-image: url(rock.png);
   text-align: center;
   
   button {
      background-color: green;
      margin-bottom: 20px;
   }
    button:hover {
       background-color: red;
       width: 100px;
       transition: background-color, width 0.5s ;
       
    }
   
